.header {
    height: 400px;
    width: 100%;
    background-image: url("images/main.jpg");
    background-size: cover;
    margin-bottom: 40px;
}

.inside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1519.200px;
    height: 222px;
}

.sub {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
}

.search {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.insearch {
    padding: 5px;
}

#searchlength {
    width: 200%;
    border: 0px solid;
}

#searchborder {
    border: 0px solid;
}

input:focus {
    border: 0px solid;
    outline: none;
}

#logoalign {
    text-align: center;
}

body {
    margin: 0px;
}

.toplink {
    width: 1302px;
    display: flex;
    justify-content: end;
    gap: 50px;
    padding-top: 17px;
    padding-bottom: 60px;
}

.toplink a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
}



.get {
    width: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.gallery {
    padding-left: 200px;
    background-color: white;

}


.pictureCard {
    width: fit-content;
    padding: 0px;
    border: 1px solid;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 1px 10px 1px rgb(229, 229, 229);



}

.pictureCard img {
    border: 1px solid;
    border-radius: 30px 30px 0px 0px;
    width: 550px;
    height: 150px;
    object-fit: cover;
    border: none;
}

.pictureCard #one {
    padding-left: 20px;
    padding-bottom: 10px;
    color: rgb(54, 54, 54);
    text-align: left;
}


.pictureCard #two {
    font-size: inherit;
    line-height: 1.5;
    padding-left: 20px;
    padding-bottom: 10px;
}

#popular {
    font-size: 36px;
    font-family: Okra, Helvetica, sans-serif;
    color: #363636;
}

.row1 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    font-family: Okra, Helvetica, sans-serif;
}

.placescard {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    padding-left: 20px;
    width: 350px;
    cursor: pointer;
    margin: 10px;
    box-shadow: rgb(28 28 28 / 8%) 0px 1.42623px 2.85246px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}

.placescard:hover{
    box-shadow: 0px 1px 10px 0px;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: rgb(28 28 28 / 8%) 3px 6px 4px;

}

.placescard p {
    font-size: 16px;
    margin-top: 0px;
}

.placescard h5 {
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}


#seemoresize {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

#seemorecard {
    justify-content: center;
    height: 70px;
    align-items: center;
}

#seemorecard img {
    height: 15px;
}


.phone {
    background-color: rgb(255, 251, 247);
    width: 100%;
    height: 480px;
    margin-top: 100px;
}

.innerbox {
    width: 740px;
    height: 450px;
    margin-left: 400px;
    margin-top: 20px;
    display: flex;
}

.mobile {
    width: 250px;
    height: 100%;
    margin-right: 32px;
}

.mobileimage {
    padding-top: 75px;
}

.mobilecontents {
    width: 450px;
    height: 349px;
    margin-left: 20px;
    margin-top: 10px;
}

.mobilecontents h1 {
    color: rgb(28, 28, 28);
    font-weight: 500;
}

.mobilecontents p {
    line-height: 51.2px;
}

.radiobuttons {
    margin-bottom: 20px;
}



.email {
    margin-right: 12.8px;
    width: fit-content;
}

.shareapplink {
    width: 240px;
    background-color: rgb(239, 79, 95);
    border-radius: 9.6px;
    text-align: center;
    transition: transform 0.25s ease 0s, opacity 0.25s ease 0s, box-shadow 0.25s ease 0s;
}

.shareapplink:hover{
    background: rgb(224, 53, 70);
}

.shareapplink p {
    color: white;
}



.emailnbutton {
    display: flex;
    justify-content: start;
    align-items: center;
}

.sharetext p {
    margin: 0;
}

.email input {
    line-height: 48px;
    width: 292px;
    border-radius: 10px;
}

.twobutton {
    width: 450px;
    height: 40px;
    display: flex;
    justify-content: start;
    gap: 10px;
}

.exploremain {
    width: 1519.200px;
    height: 404px;
}

.explorebody {
    width: 1100px;
    height: 304px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 209.600px;
    margin-right: 209.600px;
}

.exploreone {
    width: 1100px;
    height: 68px;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid;
    border-radius: 12px;
    border: 1px solid rgb(232, 232, 232);
}

#explore1 {
    font-size: 33px;
    height: 40px;
    margin: 0;
    margin-bottom: 30px;
}

.exploreone h5 {
    text-align: center;
    float: left;
    font-size: 20px;
    font-weight: 400;
    font-family: Okra, Helvetica, sans-serif;
}

#seemorecard {
    gap: 10px;
}


.footermain {
    width: 1519.200px;
    height: 455.413px;
}

.footercontainer {
    width: 1100px;
    height: 385.413px;
    margin-left: 209.600px;
    margin-right: 209.600px;
    padding-top: 48px;
    padding-bottom: 22px;
}

.footer1 {
    width: 1100px;
    height: 38.013px;
    display: flex;
    justify-content: space-between;
}


.english,
.india {
    border: 1px solid grey;
    border-radius: 10px;
    height: 38.013px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.indiaenglish {
    display: flex;
    justify-content: end;
    gap: 16px;
}

.indiaenglish img {
    height: 40%
}

.fivecontainer {
    width: 1100px;
    height: 186.400px;
    padding-top: 48px;
    padding-bottom: 22px;
    display: flex;
    justify-content: end;
    justify-content: space-between;
}

.aboutzomato {
    width: 201.663px;
    height: 186.400px;
}

.zomaverse {
    width: 210.825px;
    height: 186.400px;
}

.forrestaurant {
    width: 275px;
    height: 186.400px;
}

.learnmore {
    width: 183.325px;
    height: 186.400px;
}

.sociallinks {
    width: 201.663px;
    height: 186.400px;
}


.fivecontainer p {
    color: rgb(105, 105, 105);
    font-family: Okra, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 10px;
    cursor: pointer;
}

.fivecontainer h6 {
    font-size: 15px;
    letter-spacing: 0.2rem;
    font-weight: 500;
    margin: 0px 0px 19.2px;

}

.socialicons {
    display: flex;
    justify-content: start;
    gap: 8px;
    margin-bottom: 24px;
}

.sociallinks h6 {
    font-size: 18px;
    letter-spacing: 0.2rem;
    font-weight: 500;
}

.appstoregoogleplay {
    width: 201.663px;
    height: 92px;
}

#copyright {
    color: rgb(79, 79, 79);
    margin-top: 36.8px;
    line-height: 27.2px;
}

#radiocolor {
    accent-color: red;
}

#emailalign {
    padding-left: 10px;
    border: 0.1px solid grey;
}

#get {
    margin-right: 455px;
    color: white;
    font-size: 14px;
}

